<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Hootsuite Demo App</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
        <script src="https://d2l6uygi1pgnys.cloudfront.net/jsapi/2-0/hsp.js"></script>
        
        <script src="./asset/template.js"></script>
        <script src="./asset/app.js"></script>
    </head>

    <body>
      <div class="hs_stream">
        <!--Top Bar-->
        <div class="hs_topBar">
            <div class="hs_topBarContent">
                <!--Right-Side Controls-->
                <ul class="hs_topBarControls">
                    <li class="hs_topBarControlsBtn" data-dropdown="WriteMessage" title="Write Message">
                        <span class="icon-app-dir x-compose"></span>
                    </li>
                </ul>

                <!--Left-Side Title-->
                <h1 class="hs_topBarTitle">Compose</h1>
            </div>

            <!--Drop Downs-->
            <!--Write Message-->
            <div class="hs_topBarDropdown hs_dropdownWriteMessage" data-dropdown="WriteMessage" style="display: none;">
                <button class="hs_btnCtaSml hs_btnTypeSubmit _message_send">Send</button>
                <div class="hs_searchWrapper">
                    <label class="hs_isVisuallyHidden" for="hs_writeMessageInputExample">Search:</label>
                    <input id="hs_writeMessageInputExample" class="_message_text" type="text" placeholder="write something...">
                </div>
            </div>

        <!--Message Stream-->
        <div class="hs_message">
            <div class="hs_avatar">
                <img class="hs_avatarImage" src="./asset/avatar.png" alt="Avatar">
                <a href="#" class="hs_avatarLink" title="Username"></a>
            </div>

            <div class="hs_content">
                <a href="#" class="hs_userName" title="Username">  </a>
                <a href="#" class="hs_postTime" target="_blank" title="Sunday, September 14 2014 at 12:00pm via Hootsuite">1 minute ago</a>

                <div class="hs_contentText">
                <p>
                    <form action="tweet" method "get">
                        Enter text<br />
                        <input name="tweetContent" maxlength="140"/>
                        <input type="submit" />
                    </form>
                    
                </p>
            </div>
          </div>
        </div>

        <!--Basic Message-->
        
<% tweets.forEach(function (tweet) { %>
    <div class="multilingualtweet">   
        <div class="hs_message">
            <div class="hs_avatar">
                <img class="hs_avatarImage" src="./asset/icons/United-States.png" alt="Avatar">
                <a href="#" class="hs_avatarLink" title="Username"></a>
            </div>

            <div class="hs_content">
                <a href="#" class="hs_userName" title="Username">Original</a>
                <a href="#" class="hs_postTime" target="_blank" title="">2 minute ago</a>

                <div class="hs_contentText">
                    <p> <%= tweet.sourcetext %> </p>
                    <form action ="download" method="get">
                        
                    </form>
                </div>
            </div>
        </div>

                <div class="hs_message">
                    <div class="hs_avatar">
                        <img class="hs_avatarImage" src="./asset/icons/France.png" alt="Avatar">
                        <a href="#" class="hs_avatarLink" title="Username"></a>
                    </div>

                    <div class="hs_content">
                        <a href="#" class="hs_userName" title="Username">French</a>
                        <a type"button" href="https://hsnodesmartlingsocial.herokuapp.com/download?fileUri=<%= tweet.id %>&amp;locale=fr-FR" />download</a>
                        <a href="#" class="hs_postTime" target="_blank" title="Sunday, September 14 2014 at 12:00pm via Hootsuite">2 minute ago</a>

                        <div class="hs_contentText">
                            <p> 
                                <% if(tweet.frfr !== null) { %>
                                    <%= tweet.frfr %> 
                                <% } else { %>
                                    French not available, yet. 
                                    <% } %> 
                            </p>
                        </div>
                    </div>
                </div>

                <div class="hs_message">
                    <div class="hs_avatar">
                        <img class="hs_avatarImage" src="./asset/icons/Germany.png" alt="Avatar">
                        <a href="#" class="hs_avatarLink" title="Username"></a>
                    </div>

                    <div class="hs_content">
                        <a href="#" class="hs_userName" title="Username">German</a>
                        <a href="#" class="hs_postTime" target="_blank" title="Sunday, September 14 2014 at 12:00pm via Hootsuite">2 minute ago</a>

                        <div class="hs_contentText">
                            <p> 
                                <% if(tweet.dede !== null) { %>
                                    <%= tweet.dede %> 
                                <% } else { %>
                                    German not available, yet.
                                    <% } %> 
                            </p>
                        </div>
                    </div>
                </div>

                

    </div>
<% }); %>

            



    </body>
</html>